<h1>Cape Town Dam water levels</h1>

<% @dams.each do |dam| %>
<h3><%= link_to dam.name, dam_path(dam.id) %></h3>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Height (m)</th>
      <th>Storage (Ml)</th>
      <th>Current levels (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= dam.levels.order("date ASC").first.date.strftime('%d-%b-%y') %></td>
      <td><%= dam.levels.order("date ASC").first.height %></td>
      <td><%= dam.levels.order("date ASC").first.storage %></td>
      <td><%= dam.levels.order("date ASC").first.percentage %></td>
    </tr>
  </tbody>
</table>
<% end %>
