<h1>Dam water levels</h1>


<h3><%= @dam.name %></h3>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Height (m)</th>
      <th>Storage (Ml)</th>
      <th>Current levels (%)</th>
    </tr>
  </thead>
  <tbody>
    <% @dam.levels.each do |level| %>
      <tr>
        <td><%= level.date.strftime('%d-%b-%y') %></td>
        <td><%= level.height %></td>
        <td><%= level.storage %></td>
        <td><%= level.percentage %></td>
      </tr>
    <% end %>
  </tbody>
</table>
